#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  
  --barber-900: #ede8e2;
  --barber-400: #579E9C;
  --barber-100: #c6c6c6;
  --button-cta: #fba931;
  --button-default: #2e2e2e;
  --button-gray: #dfdfdf;
  --button-danger: #ff4040;
  --orange-900: #fba931;
  --color-text: #161616;
  --color-text2: #000000;
}

#shadow{
  -webkit-box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
}
/* --barber-900: #12131b;
  --barber-400: #1b1c29;
  --barber-100: #c6c6c6;
  --button-cta: #fba931;
  --button-default: #fff;
  --button-gray: #dfdfdf;
  --button-danger: #ff4040;
  --orange-900: #fba931; */